@font-face {
    font-family: kimbold;
    src: url(../fonts/KimjungchulMyungjo-Bold.ttf);
}
@font-face {
    font-family: kimlight;
    src: url(../fonts/KimjungchulMyungjo-Bold.ttf);
}
@font-face {
    font-family: kimregular;
    src: url(../fonts/KimjungchulMyungjo-Bold.ttf);
}